*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    width: 1340px;
    margin: auto;
}
.btn-primary {
	padding: 12px 30px;
	background-color: #FD6E0A;
	color: white;
	cursor: pointer;
	border: none;
	font-size: 17px;
	border-radius: 5px;
}
/* Header relate style */
.header-section{
    padding-top:30px;
    background-color: #FFF8F3;
}
.navbar-section a.logo-name {
	font-size: 40px;
	color: #111;
	text-decoration: none;
	font-weight: 700;
}
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-section a.logo-name span{
    color: #FD6E0A;
}
.navbar-section ul{
    display: flex;
    align-items: center;
}
.navbar-section ul li {
	list-style: none;
	margin-right: 50px;
}
.navbar-section ul li a{
    text-decoration: none;
    color: #474747;
}

